@use "src/assets/styles/variables" as vars;

.create-edit-container {
  display: flex;
  justify-content: center;
}

.create-edit-wrapper {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  @media (max-width: vars.$layout-breakpoint-small) {
    width: 100%;
  }
}

.create-edit-button {
  width: 100%;
}

.title {
  display: flex;
  gap: 5px;
  a {
    display: flex;
    align-items: center;
  }
}
