@use "src/assets/styles/variables" as vars;

.login-container {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-wrapper {
  padding-bottom: 20px;
}

.button {
  width: 100%;
}
