@use "src/assets/styles/variables" as vars;

.logo-wrapper {
  height: 7vh;
  @media (max-width: vars.$layout-breakpoint-small) {
    height: 6vh;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: vars.$layout-padding;
  @media (max-width: vars.$layout-breakpoint-small) {
    height: 8vh;
    padding: vars.$layout-padding-small;
  }
}
